<!DOCTYPE html>
<html>
    <head>
  <link rel="stylesheet" href="css/styles.css">
  
    </head>
    <body>
        <h1>{{title}}</h1>
        <h3>{{errormsg}}</h3>
        <h3>{{name}}</h3>
    
    </body>
</html>