<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>

       {{>header}}
        <img src="img/vaultboy.png">
        <h3>{{>footer}}</h3>
    </body>
</html>