<!DOCTYPE html>
<html>
    <head>
  <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>

      {{>header}}
        <h3>{{name}}</h3>
<form>
  <input placeholder="type"\>
  <button>search</button>

  <p id="message-1"></p>
  <p id="message-2"></p>
  
</form>
       <h3>{{>footer}}</h3>
         <script src="js/app.js"></script>
    </body>
</html>